.navegation{
    
    display: flex; 
    align-items: center;
}

.point{
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 10px;
    margin-right: 1em;
    cursor: pointer;
    
}
.point:hover{
    background-color: #92E3A9;
}
input{
    display: none;
}
.slides{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page1:checked ~ #world-online{
    margin-left: 0;
}
#page2:checked ~ #world-online{
 
    margin-left: -33%;
}
#page3:checked ~ #world-online{
    margin-left: -50%;
}